* {
    margin: 0;
    padding: 0;
}


/*.btn {
    width: 50%;
    height: 80px;
    border: none;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: x-large;
    box-shadow: inset 8px 8px 8px 0px rgba(255, 255, 255, 1), inset -5px -5px 5px 0px rgba(0, 0, 0, .25), 15px 15px 15px 0px rgba(0, 0, 0, .25);
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover {
    box-shadow: inset 8px 8px 8px 0px rgba(255, 255, 255, 1), inset -5px -5px 5px 0px rgba(0, 0, 0, .25), 10px 10px 10px 0px rgba(0, 0, 0, .25);
    transform: scale(.96);
}

.btn:active {
    box-shadow: inset 5px 5px 8px 0px rgba(0, 0, 0, 0.25), inset -8px -8px 8px 0px rgba(255, 255, 255, 1), 6px 6px 8px 0px rgba(0, 0, 0, .25);
    transform: scale(.93);
} */


/* .div1,
.div2,
.div3 {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: rebeccapurple;
    margin: 5px;
}

.div1 {
    transform: translateZ(30px);
}

.div2 {
    transform: translateZ(320px);
}

.div3 {
    transform: translateZ(3px);
} */

.nav {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    margin-left: 10px;
}

.logo img {
    height: 100%;
    aspect-ratio: 1/1;
}

.list {
    background: #000;
    width: calc(100% - 80px);
    height: 100%;
    display: grid;
    align-self: center;
}

.list ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: auto;
    justify-content: space-around;
}

.list ul li {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: aqua;
    height: 90%;
}

.burger {}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    margin-top: 200px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 22px 0px rgba(0, 0, 0, 0.2), inset -5px -5px 5px 2px rgba(0, 0, 0, 0.15), inset 5px 5px 8px 3px rgba(255, 255, 255, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card .card-header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .card-header .profile-pic {
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
}

.card .card-header .profile-pic img {
    width: 150px;
    border-radius: 50%;
    border: 1px rgba(143, 0, 255, 1) solid;
}

.card-social-media-icon {
    display: flex;
    position: absolute;
    margin-right: 22px;
    margin-top: 22px;
    opacity: 0;
}

.card-social-media-icon a {
    font-size: medium;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-social-media-icon a:hover {
    transform: scale(1.5);
    opacity: 0.9;
}

.card .card-header .card-name {
    color: rgba(143, 0, 255, 1);
    font-weight: bolder;
}

.card .card-header .card-job-title {
    font-size: x-small;
    color: gray;
    font-weight: lighter;
}

.card .card-header .card-rating {
    display: flex;
    margin-bottom: 11px;
    margin-top: 11px;
}

.card .card-header .card-rating p {
    margin-right: 10px;
}

.card .card-header .card-rating i {
    margin-right: 3px;
    color: rgba(255, 184, 0, 1);
}

.card .card-body {
    width: 89%;
    height: auto;
    display: none;
}

.card .card-body p {
    font-size: smaller;
}

.card .card-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 11px;
}

.card .card-footer button {
    cursor: pointer;
    background-color: rgba(143, 0, 255, 1);
    border: none;
    width: 88%;
    height: 44px;
    margin-bottom: 22px;
    border-radius: 11px;
    color: white;
    font-weight: bolder;
    font-size: medium;
    box-shadow: inset 5px 5px 5px 1px rgba(255, 255, 255, 0.35), inset -5px -5px 5px 0px rgba(0, 0, 0, 0.3), 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card .card-footer button:hover {
    transform: scale(1.05);
    box-shadow: inset 2px 2px 2px 1px rgba(255, 255, 255, 0.35), inset -7px -7px 7px 0px rgba(0, 0, 0, 0.3), 7px 11px 11px 0px rgba(0, 0, 0, 0.25);
}

.card .card-footer button:active {
    transform: scale(0.95);
    box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.35), inset -5px -5px 5px 0px rgba(255, 255, 255, 0.3), 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width:0px) {
    .card {
        width: 150px;
        height: 340px;
    }
    .card .card-header {
        top: 0;
        margin-top: -50px;
    }
    .card .card-header .profile-pic {
        top: 0;
        margin: 0;
    }
    .card-social-media-icon {
        bottom: 0;
        margin-left: 20px;
        margin-bottom: 22px;
        opacity: 1;
    }
    .card .card-body {
        display: none;
        opacity: 0;
    }
    .card-social-media-icon {
        gap: 22px;
    }
    .card-social-media-icon a {
        font-size: x-large;
    }
    .card:hover {
        width: 200px;
        height: 440px;
    }
    .card:hover .card-body {
        display: flex;
        opacity: 1;
    }
    .card .card-footer {
        margin-bottom: -22px;
    }
}

@media (min-width: 768px) {
    .card {
        width: 150px;
        height: 220px;
        transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        overflow: hidden;
    }
    .card-social-media-icon {
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
    }
    .card .card-body,
    .card .card-footer {
        display: flex;
        overflow: hidden;
    }
    .card-social-media-icon {
        gap: 11px;
        display: none;
    }
    .card-social-media-icon a {
        font-size: medium;
    }
    .card .card-header .card-rating {
        margin-bottom: 11px;
    }
    .card .card-header {
        margin: 0;
    }
    .card:hover {
        width: 300px;
        height: 400px;
    }
}